# Okapi manages the developer portal and the way in which this content is posted to the portal
* @department-of-veterans-affairs/lighthouse-okapi

# UX manages the reviews / approvals of strictly content changes
/content/ @department-of-veterans-affairs/lighthouse-ux-approvers
